<h3>Joan Miralles Ramis</h3>
<p><img alt="Imagen autor" src="/images/photo.jpg"/></p>
<p>Trabajo en el mundo del desarrollo web desde hace más de 10 años. Estoy haciendo este curso para probar Node.js</p>
<p>Poner un vídeo me parecía una tortura excesiva. Con la foto es más que suficiente.</p>
