<div class="searcher">
    <form name="search" action="/quizes" method="get">
        <input type="text" name="search" placeholder="¿Qué Preguntas quiere encontrar?" />
        <input type="submit" value="Buscar" />
    </form>
</div>
<div class="separator"></div>
<div class="questions">
    <ul>
        <% var i; for (i = 0; i < quizes.length; i++) { %>
            <li>
                <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>&nbsp;
                <a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a>
            </li>
        <% } %>
    </ul>
</div>
<div class="separator"></div>
<div class="actions">
    <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</div>